*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  /* allows us to move box-sizing to body and make it inherited by all children */
  box-sizing: inherit;
}

html {
  /* set root font size to define what 1rem is*/
  /* assuming 16px default we divide 10/16 to get a % */
  font-size: 62.5%; // 1rem = 10px


  @include respond(tab-land) {
    font-size: 56.25%; 
  }

  @include respond(tab-port) {
    font-size: 50%;
  }

  @include respond(big-desktop) {
    font-size: 75%;
  }
}

body {
  /* set box sizing setting for children to inherit */
  box-sizing: border-box;
  padding: 3rem;

  @include respond(tab-port) {
    padding: 0;
  }
}
