.btn {
  &,
  &:link,
  &:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    /* transition property should be on the initial state */
    transition: all .2s;
    position: relative;
    font-size: $default-font-size;
    
    // CHANGES FOR BUTTON ELEMENTS
    border: none;
    cursor: pointer;
  }

  &:hover {
    transform: translateY(-.3rem); // transform and box-shadow properties make button appear to rise up from page
    box-shadow: 0 1rem 2rem rgba(0,0,0,.2);
    &::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }  
  }
  
  &:focus,
  &:active {
    transform: translateY(-.1rem);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.2);
  }

  &--white {
    background-color: $color-light;
    color: $color-dark;
    &::after {
      background-color: $color-light;
    }
  }

  &--green {
    background-color: $color-medium-green;
    color: $color-light;
    &::after {
      background-color: $color-medium-green;
    }
  }

  &::after {
    content: '';
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s;
  }

  &--animated {
    animation: moveInBottom .5s ease-out .75s;
    animation-fill-mode: backwards;
  }
}

.btn-text {
  &:link,
  &visited {
    font-size: $default-font-size;
    color: $color-medium-green;
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px solid $color-medium-green;
    transition: all .2s ease-in;
  }

  &:hover {
    background-color: $color-medium-green;
    color: $color-light;
    box-shadow: 0 1rem 2rem rgba($color-black, .15);
    transform: translateY(-2px);
  }

  &:active {
    box-shadow: 0 .5rem 1rem rgba($color-black, .15);
    transform: translateY(0);
  }
}