.feature-box {
  background-color: rgba($color-light, .8);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
  transition: all .3s;

  @include respond(tab-port) {
  }

  &__icon {
    font-size: 6rem;
    margin-bottom: .5rem;
    display: inline-block;
    background-image: linear-gradient(to right, $color-light-green, $color-dark-green);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  
  }

  &:hover {
    transform: scale(1.03) translateY(-1.5rem);
    box-shadow: 0 1.5rem 3rem rgba($color-black, .45);
  }
  

  &__text {
    
  }
}