.story {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba($color-black, .1);
  background-color: rgba($color-light, .6);
  border-radius: 3px;
  padding: 6rem;
  font-size: $default-font-size;
  padding-left: 9rem;
  transform: skewX(-12deg);

  @include respond(phone) {
    transform: skewX(0deg);
    padding: 2rem;
  }


  &__shape {
    width: 15rem;
    height: 15rem;
    background-color: red;
    float: left;
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    transform: translateX(-3rem) skewX(12deg);
    position: relative;

    @include respond(phone) {
      transform: skewX(0deg);
    }
  
  }

  &__image {
    height: 100%;
    transform: translateX(-4rem) scale(1.4);
    backface-visibility: hidden;
    transition: all .2s ease-in;
    

  }
  
  &__caption {
    position: absolute;
    color: $color-light;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    font-size: 1.7rem;
    text-transform: uppercase;
    opacity: 0;
    transition: all .2s ease-in;
    backface-visibility: hidden;
      @include respond(phone) {
    transform: skewX(0deg);
  }

  }

  &__text {
    transform: skewX(12deg);

    @include respond(phone) {
      transform: skewX(0deg);
    }
  
  }

  &:hover &__caption {
    opacity: 1;
    transform: translate(-50%, -50%);
  }

  &:hover &__image {
    transform: translateX(-4rem) scale(1);
    filter: blur(2px) brightness(60%);
  }
}

